.App {
  text-align: center;
}
body{
  flex: content;
  display: flex;
  align-content: center;
  justify-content: center;
}
.hello{
  border-color: rgb(83, 210, 252);
  justify-content: center;
  display: flex;
 position: absolute; 
}